/* Booki */

/* Booki */

@font-face {
    font-family: 'Raleway' ;
    src: url(Raleway-VariableFont_wght.ttf);}
@font-face {font-family: 'SulphurPoint';
    src: url(SulphurPoint-Regular.ttf);
}



body {
    
    font-family: 'Raleway';
    
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    ;
    max-width: 1440px;
    
    

}
    
   
    

header{
    
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;


justify-content: space-between;
align-items: center;
}

.menu {
    
    display: flex;
    flex-direction: row;

align-items: center;
flex-wrap: nowrap;

}


header a {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    color: black;
    padding: 40px;
    text-decoration: none;
    border-top: 2px solid transparent;
    display: flex;
    flex-direction:row ;
    align-items: end;

}

header a:hover {
   
    border-top: #0065FC solid 2px; }
    

#logo
{display: flex;
flex-direction: row;
flex-wrap: wrap;
height:19px;
font-family: SulphurPoint;
color: #0065FC;


}

/*CALL TO ACTION*/



.calltoaction
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 26px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-size: 22px;
    font-weight: 700;
color: black;
margin-bottom: 8px ;


}



#soustitre
{display: flex;
   
width: 296px;
height: 19px;
left: 55px;
top:160px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size:16px;
line-height: 19px;


;}


.searchform {
    
    left: 0%;
    right: 0%;
    top:0%;
    bottom:0%;
    left: 55px;
    top: 199px;
    border-radius: 0px;
    display: flex;
    
    
flex-wrap: nowrap ;
height: 49px;
margin-top: 20px;}

 input {
    
    width: 282px;
    border: #f2f2f2;
    

 } 
 
 
 .fa-magnifying-glass {color: white;
    }


 .rechercher {padding: 15px 16px;
    background:#0065FC ;
    border: 1px solid #0065FC;

    border-radius: 0px 15px 15px 0px;
    font-family: 'Raleway';
font-size:medium;
font-size: 18px;
line-height: 21px;
text-align: center;
color: white;
    }


 i.fa-location-dot {
    
background-color: #f2f2f2;
    border: 1PX solid #efe1e1;
    border-radius: 15px 0px 0px 15px;
    width: 50px;
height: 49px;
display: flex;
align-items: center;
justify-content: center;
}
  

input::placeholder{

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: black;
    font-style:normal;
    padding-left: 15px;
    

   
}
   
/*filter*/

.filterlist
{display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: space-around;
width: 914px;
margin-top: 30px;

}

.filter {
    padding: 4px 20px;
border: 2px solid #d9d9d9;
border-radius: 25px;
font-family: 'Raleway';
font-style: normal;
font-size: 17px;
line-height: 20px;
font-weight: 700;
height: 28px;
display: flex;
flex-direction: row;
align-items: center;



}

.filterlist a:hover {background: #deebff;
    border-radius: 25px;}

.filterlist i {
    color: #0065FC;
    margin-right: 14.56px ;

}


#titlesection {
font-family: 'Raleway';
font-style:normal;
font-weight:700;
font-size: 18px;
line-height: 21px;
text-align: center;
color: black;

}


/*Info*/
#info 
{display: flex;
    flex-direction: row;
    
    

top:365px;
left: 59px;

display: flex;
align-items: center;



}



#info h2 {
    margin-left: 11px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    


}

#info i {

    border: 1px solid #d9d9d9 ;
    border-radius: 50%;
    color: #0065FC;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center
    ;
    
}

/*HEBERGEMENT MARSEILLE */
#main {display: flex;
    flex-direction: row;
flex-wrap:wrap;
margin: 20px 0px 60px 0px   ;

}

.hebergementpop {width: 100%;
flex-wrap: nowrap;
display: flex;
justify-content: space-between;
gap: 40px;}



#hebergementmrs {
    background-color: #f2f2f2;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
    
    
    width: 70%;
    
    
    padding: 30px 30px 0;

}
.sectiontitle{
    
    margin-bottom: 23px;
    width: 100%;


    }

.roomcard {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    

    flex-direction: column;
    border-radius: 20px;
    width: 246px;
    height: 199px;
    background-color: #fff;
    border-radius: 20px;

    
    margin: 0 ;
    box-shadow:0 0 16px #0000002e;
    

}
 #cardmrs img {
    height: 62%;
    border: 5px solid #fff;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    margin-bottom: 6px;
 }

 #cardmrs h2{font-family: 'Raleway';
    font-style: normal;
    font-weight:700;
    font-size: 16px;
    line-height: 11px;
    display: flex;   
    width: 100%;
    flex-direction: row;
    margin-bottom: 9px;
    margin-top: 0;
    

 }

 #cardmrs p {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 9px;
    margin-top: 0;
    

 }

 .stars {
color: #0065FC;
font-size: 12px;
padding-bottom: 9px ;
}

.stars .grey {
    color: #f2f2f2;
    }


 
 
 #cardmrs {display:flex;
    align-items: center;
    justify-content: space-around;
flex-wrap: wrap;
gap: 30px ;}

.inforoomcard 
{padding-left: 16px;}

a {text-decoration:none;
color: black;}

#afficherplus 
{color:black;
    font-family:"Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
text-align: left;
    
margin: 40px 0px 10px 20px;
}

    
    

/* POPULAIRE */
    
    #populaire {display:flex;
        flex-wrap: wrap;
        flex-direction: column;
      
        
        background-color: #f2f2f2;
     width: 33%;
        

        padding: 30px;
        border-radius:  20px ;
        
    }
   
    
.poproomcard h2 { 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    width:100%;
    

}

#populaire p {font-family: 'Raleway';
font-style:normal ;
font-weight: 400;
font-size: 14px;
line-height: 16px;

}

#popularcard img     {width: 40%;
height:144px;
display: flex;
flex-wrap: nowrap;
flex-direction: row;
border-radius: 20px 0px 0px 20px;
}

.popsectiontitle{
    width: auto;
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


    }

    .fa-chart-line {color :#0065FC}

.poproomcard{display: flex;
flex-wrap: nowrap;
flex-direction: row;
flex-grow: 1;
flex-shrink: 1;
width: 100%;
height: 144px;
padding: 3px ;
background-color: white;
border: #fff;
border-radius: 20px;
box-shadow: 0 0 16px #0000002e ;
position: relative;}

#popularcard {display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
gap:33px;}

.popinforoomcard {margin-left: 20px;
    
    
}

#popularcard .stars {position: absolute;
    top: 94px;
    
padding-bottom: 12px;
margin-top: 10%;}

/*Activités à Marseille */

#activitemrs {

display: flex;
flex-direction: row;

flex-wrap: wrap;

top: 1112px;
left: 50px;
justify-content: space-around;
gap: 10px;
width: 100%;

}

#activitemrs img {
    
    height: 445px;
    width:100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

#activiteh2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 19px;
    width:100%;
    margin-top:60px;
    margin-left: 20px ;
    
}

#activitemrs a {width: 18.77%;}
.activitycard{
    background: fixed;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 30px;

    
    
    box-shadow:0 0 16px #0000002e ;
   
    
   
}


.activitycard h2 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-left: 19px ;
}



/*footer*/

footer {display: flex;
flex-direction: row;
background-color: #f2f2f2 ;
top: 1666px;
width: 100%;
justify-content: space-around;
gap: 3%;


margin-top:60px ;

padding-bottom: 58px;


}

footer a {
font-family: "Raleway";
font-style: normal;
font-weight: 400;
font-size:16px;
line-height: 19px;

display: flex;
flex-direction: column;
margin-top: 12px;
width: 100%;
justify-content: center;

}

footer a:hover {text-decoration: none;}


@media screen and (min-width: 768px) and (max-width: 992px){

    body {margin: 0px 30px 0px 30px;
  }
 
   #hebergementmrs {
    display: flex;
flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding: 0px;

    
   }
   
.sectiontitle {margin-left: 19px;}
.hebergementpop {flex-wrap: wrap;
    flex-direction: column;
    
gap: 53px;}
   
#afficherplus {margin: 40px 0px 40px 20px;
 }

    #main
    {display: flex;
    flex-direction: column;
flex-wrap:nowrap;
margin: 40px 0px 60px 0px   ;
gap: 40px;
width: auto;

}

.filterlist { width: 100%;
gap: 1%;}


/* Populaire 1024px */

#popularcard
{display: flex;
    flex-direction : row;
flex-wrap: nowrap;


width: 900px;
gap: 6%;



;}

#populaire {display:flex;
    flex-wrap: wrap;
    flex-direction: row;
  width: 100%;
  padding: 0px 30px 40px 20px;
  box-sizing: border-box;
  justify-content: center;
  
    background-color: #f2f2f2;}

#popularcard img {width: 75px;
    
    object-fit: cover;
 }

 .popsectiontitle h2 {margin-left: 20px;
}
.popsectiontitle {display: flex;
    width: 97%;}


.poproomcard{display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    
    height: 144px;
    padding: 3px ;
    background-color: white;
    border: #fff;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e ;}

    .poproomcard h2 { 
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        width: 100px;

        
        
    
    }

  
    #populaire p {font-family: 'Raleway';
    font-style:normal ;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    width: 100px;
    
    }

    /* ACTIVITES MOBILE */


    #activitemrs img {
    
        height: 211px;
        width:100%;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }
    .activitycard h2 {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        margin-left: 19px ;
        
    }

    .activitycard{
        background: fixed;
        background-color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        border-radius: 20px;
        width: auto;
        height: 267px;
        
        box-shadow:0 0 16px #0000002e ;
       
      
       
        
        }  #activitemrs a { width: 20%;
        gap: 0; }
        footer p {
            font-size: 16px;
            line-height: 18.78px;
            font-weight: 400;}
            
            footer h2 {font-size: 18px;
            font-weight: 700;}
            footer{gap: 90px;}
    }




/* MOBILE */

@media screen and (max-width: 767px){

    body {margin: 0px;}

    
    #main {
    margin-bottom: 0px;
flex-direction: column;
align-items: center;margin: 0;
}

header{
    
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    }

    header a:hover {border-top: none;
        border-bottom: #0065FC solid 2px;}

    #maintitle
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:auto;
    padding: 0 20px 0;

    text-align: left;
    
    margin-bottom: 30px;
    align-items: center;

}

.calltoaction {
    margin: 0 0 12px;}

#soustitre {
    margin-left: 0;
    width: 100%;
}
.menu {width: 100%;}

header a {
    
    display: flex;
    align-items: normal;
    justify-content: center;
    
    padding-top: 0;
    margin-bottom:31px;
    padding:  25px 0 25px 0;
   

    width: 100%;

}
#logo
{display: flex;
flex-direction: row;
width: 100%;
height:19px;
color: blue;
justify-content: center;
margin: 0;
margin-bottom: 25.64px;
margin-top: 21px;
}

.menu {justify-content: space-between;}

/*Populaire*/

#populaire {
    order: -1;
    width: fit-content;
    margin: 0;
    justify-content: center;
    padding:20px;
    width: 100%;
    border-radius: 0px;
    



}



#popularcard a{
    width: 98%;
}
#popularcard img { width: 40%;
    
object-fit: cover;}

.popsectiontitle {display: flex; justify-content: space-between;}


#popularcard{
    display: flex;
    flex-direction: column;
    width: 100%;
flex-wrap: nowrap;}



.poproomcard h2 {font-size: 18px;}
#populaire p {font-size: 16px;}

.hebergementpop {
    flex-wrap: wrap;
    width: auto;
}

.poproomcard {width: 100%;}
#popularcard .stars {position: unset;}



.popinforoomcard{width: 60% ;}

.popsectiontitle {width: 100%;}
/*Filtre Mobile */
.filterlist{flex-direction: row;

flex-wrap: wrap ;
align-items: center;
margin: 0;
width:  auto;
justify-content: space-around;
margin-bottom: 10px ;


}
.filter {max-width: 100%;
    min-width : 118.4px;
font-size :11px;
font-weight: 700;
line-height: 13px;
font-family: 'Raleway';
font-style:normal;
margin-bottom: 15px;
;
}

.filter :hover {
    filter: drop-shadow(0px 4px 4px);
    color: black;
    
}

.rechercher{display: none;
    }

.fa-magnifying-glass{padding: 15px 16px;
    background:#0065FC ;
    border: 1px solid #0065FC;

    border-radius: 0px 15px 15px 0px;
color: white;}
    
.searchform {
align-items: center;
margin-left: 0;
width: 100%;
display: flex;
} 
input {width: 30%;}

#titlesection {width: 100%;
    align-items: center;
text-align: left;
margin: 0px 30px 15px;}

#info { margin-left: 19px;
    align-items: center;
width: auto;
margin-bottom: 17px;
display: flex;
}



input {width: 100%;}




/*Hebergement Marseille*/

#hebergementmrs {
    background-color: white;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0px 0px 0 0px;
   

    
    padding: 20px;

}
#cardmrs {justify-content: center;
    flex-direction: column;
width: 100%;}

#cardmrs a { width: 100%;
}

#cardmrs img {
    
    height: 124px;
    border: 5px solid #fff;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    }

 .roomcard {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    

    flex-direction: column;
    border-radius: 20px;
   width: 100%;
    height: 199px;
    background-color: #fff;
    border-radius: 20px;
    
    margin: 5px 0 ;
    box-shadow:0 0 16px #0000002e;
    

}



/*Activités Marseille*/ 


#activitemrs {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 24px ;
    width: 100%;
   
  align-items: center;
    
    
    
 
    }

#activitemrs a {width: 100%;
    max-width: 90%;
}

    #activitemrs img {
    
        height: 134px;
        width: 100%;
        
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        


    }

    .activitycard {

         height: 190px;
        width: 100%;
        
        
    }

    .activitycard h2 {
            font-family: "Raleway";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            padding-left: 19px ;

        }
    
        #activiteh2 {margin-left: 19px;
        width: 90%;}


/*Footer*/
footer {display: flex;
    flex-direction: column;
    background-color: #f2f2f2 ;
    
    gap: 40px;
    width:100%;

    align-items: flex-start;
    margin: 80px 0 0px ;
padding: 0 0 80px;
    
}

footer nav {margin-left: 30px;}
} 

